<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/buscarHabitaciones.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Playfair+Display:ital,wght@0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Habitaciones</title>
</head>
<body>
    <div class="container_mother">
        <div class="narvar1">
            <div class="container_logo_and_user">
            <img src="../assets/img/Vector-opinion.png" alt="" class="vector_barra">
            <img src="../assets/img/Hotelia horizontal blanco.svg" alt="" class="logo">
            <img src="../assets/img/hotelia campana.svg" class="narvar_logo_cell">
            <div class="container_apartado">
                <img src="../assets/img/userHabi.jpg" class="userHabi">
                <div class="apartado">
                    <h5>Angie Vargas</h5>
                    <h6>angievargas2@gmail.com</h5>
                 </div>
            </div>
            </div>
            <button class="icon_text">
                <img src="../assets/img/icono_cama.jpg" alt="" class="iconos_narvar"><h2 class="text_iconos">Habitaciones</h2><br>
            </button class="icon_text">
            <button class="icon_text">
                <img src="../assets/img/icono_cama.jpg" alt="" class="iconos_narvar"><h2 class="text_iconos1">Registrar habitaciones</h2><br>
            </button>
            <button class="icon_text">
                <img src="../assets/img/lapiz.jpg" alt="" class="iconos_narvar"><h2 class="text_iconos">Editar perfil</h2><br>
            </button>
           <button class="icon_text2">
                <img src="../assets/img/cerrar_sesion.jpg" alt="" class="icono_cerrar_sesion"><h2 class="text_iconos">Cerrar sesion</h2>
           </button>
        </div>
        <div class="container_busqueda">
            <div class="container_boton"><button class="buscarH">Busqueda Habitaciones</button></div>
            <div class="container_form_and_listado">
                <div class="formulario_busqueda">
                    <div class="campos_and_text">
                       <h3>Entrada:</h3>
                       <input type="text">
                       <img src="../assets/img/herramienta-de-simbolo-de-interfaz-de-calendario.png" class="icon">
                    </div>
                    <div class="campos_and_text2">
                       <h3>Salida:</h3>
                       <input type="text">
                       <img src="../assets/img/herramienta-de-simbolo-de-interfaz-de-calendario.png" class="icon">
                    </div>
                    <div class="campos_and_text">
                       <h3>Adultos:</h3>
                       <input type="number">
                       <img src="../assets/img/ordenar-abajo.png" class="icon">
                    </div>
                    <div class="campos_and_text2">
                       <h3>Niños:</h3>
                       <input type="number">
                       <img src="../assets/img/ordenar-abajo.png" class="icon">
                    </div>
                    <button class="ver_Habi">Ver habitaciones disponibles</button>
                </div>
                   <div class="listado">
                    <div class="contenedor_card">
                        <div class="card">
                            <img src="../assets/img/habitacion1.png" alt="" class="img_habitacion">
                            <div class="habitacion_doblee"><h3>Habitacion Doble</h3></div>
                            <h4>$128.000</h4>
                        <div class="container_botones">
                            <button class="boton_modificar">Reservar</button>
                        </div>
                        </div>
                        <div class="card2">
                            <img src="../assets/img/habitacion1.png" alt="" class="img_habitacion">
                            <div class="habitacion_doblee"><h3>Habitacion Doble</h3></div>
                            <div class="verm">
                             <h1>+</h1>
                             <h2>Ver mas</h2>
                            </div>
                            <h4>$128.000</h4>
                        <div class="container_botones2">
                            <button class="boton_modificar2">Reservar</button>
                        </div>
                        </div>
                    </div>
                    <div class="contenedor_card">
                        <div class="card">
                            <img src="../assets/img/habitacion1.png" alt="" class="img_habitacion">
                            <div class="habitacion_doblee"><h3>Habitacion Doble</h3></div>
                            <h4>$128.000</h4>
                        <div class="container_botones">
                            <button class="boton_modificar">Reservar</button>
                        </div>
                        </div>
                        <div class="card2">
                            <img src="../assets/img/habitacion1.png" alt="" class="img_habitacion">
                            <div class="habitacion_doblee"><h3>Habitacion Doble</h3></div>
                            <div class="verm">
                             <h1>+</h1>
                             <h2>Ver mas</h2>
                            </div>
                            <h4>$128.000</h4>
                        <div class="container_botones2">
                            <button class="boton_modificar2">Reservar</button>
                        </div>
                        </div>
                    </div>      
                   </div>
                </div>
            </div>
        </div>
</body>
</html>