<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../assets/css/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&family=Playfair+Display:ital,wght@0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body style="background-image: url('../assets/img/conjunto.jpg') ;">
    <section class="container_mother">
        <div class="narvar1">
            <div class="container_logo_and_user">
                <img src="../assets/img/Vector-opinion.png" alt="" class="vector_barra">
                <img src="../assets/img/Hotelia horizontal blanco.svg" alt="" class="logo">
                <div class="apartado">
                    <h5>Angie Vargas</h5>
                    <h6>angievargas2@gmail.com</h5>
                </div>
                <img src="../assets/img/hotelia campana.svg" class="narvar_logo_cell">
                <img src="../assets/img/Angie.jpg" class="narvar_user">
            </div>
            <button class="icon_text">
                <img src="../assets/img/icono_cama.jpg" alt="" class="iconos_narvar"><h2 class="text_iconos">Habitaciones</h2><br>
            </button class="icon_text">
            <button class="icon_text">
                <img src="../assets/img/icono_campana.jpg" alt="" class="iconos_narvar"><h2 class="text_iconos">Reservas</h2><br>
            </button>
            <button class="icon_text">
                <img src="../assets/img/icono_cama.jpg" alt="" class="iconos_narvar"><h2 class="text_iconos">Habitaciones</h2><br>
            </button>
            <button class="icon_text">
                 <img src="../assets/img/icono_campana.jpg" alt="" class="iconos_narvar"><h2 class="text_iconos">Habitaciones</h2><br>
            </button>
            <button class="icon_text2">
                <img src="../assets/img/cerrar_sesion.jpg" alt="" class="icono_cerrar_sesion"><h2 class="text_iconos">Cerrar sesion</h2>
            </button>
        </div>
            <div action="" class="container_form">
                <div class="title">
                    <br>
                    <h1 >Bienvenido, Angie vargas</h1>
                </div>
                <div class="elements_form">
                    <div class="contenedor_imagen_icon">
                        <img src="../assets/img/Angie.jpg" alt="" class="img_user"><br>
                        <button class="subir"><img src="../assets/img/subir_fotito.jpg" alt="" class="icon_button"></button>
                        <button class="subir"><img src="../assets/img/icono_de_subir.jpg" alt="" class="icon_button2"></button>
                        <br>
                        <button class="boton_cambiarcontra">Cambiar Contraseña</button>
                    </div>
                    <form action="" class="formulario_user">
                        <div class="dates">
                            <h4>Tipo de documento</h4>
                            <input type="text" placeholder="Cedula Ciudadania" class="inputs">
                        </div>
                        <div class="dates">
                            <h4>Numero de documento</h4>
                            <input type="number" placeholder="Numero de documento"class="inputs">
                        </div>
                        <div class="dates">
                            <h4>Nombres</h4>
                            <input type="text" placeholder="Angie Camila"class="inputs">
                        </div>
                        <div class="dates">
                            <h4>Apellidos</h4>
                            <input type="text" placeholder="Vargas Pinzon"class="inputs">
                        </div>
                        <div class="dates">
                            <h4>Fecha nacimiento</h4>
                            <input type="date" placeholder="Ingrese fecha"class="inputs">
                        </div>
                        <div class="dates">
                            <h4>Pais de origen</h4>
                            <input type="text" placeholder="Colombia"class="inputs">
                        </div>
                        <div class="dates2">
                            <h4>Genero</h4>
                            <input class="check" type="checkbox" placeholder="Mujer" value="Mujer" name="genero"><span>Mujer</span>
                            <input class="check" type="checkbox" placeholder="Hombre"  value="Hombre" name="genero"><span>Hombre</span>
                            <input class="check" type="checkbox" placeholder="Otro"  value="Otro" name="genero"><span>Otro</span>
                        </div>
                        <div class="dates">
                            <h4>Telefono de contacto</h4>
                        <input type="number" placeholder="Numero de telefono"class="inputs">
                        </div>
                        <div class="dates">
                            <h4>Email</h4>
                            <input type="text" placeholder="Correo electronico"class="inputs">
                            <br>
                            <button class="boton1_form">Actualizar</button>
                        </div>
                    </form>
                </div> 
                <div class="form_cambio_clave">
                    <div class="dates">
                        <h4>Contraseña</h4>
                        <input type="password"class="inputs">
                    </div>
                    <div class="dates">
                        <h4>Confirmar contraseña</h4>
                        <input type="password"class="inputs" >
                    </div>
                        <button class="boton_cambio">Cambiar</button>
                </div>   
            </div>
        </div>
    </section>
</body>
</html>