<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/formularioHabitacion.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Formulario Habitación</title>
</head>
<body>
    <div id="navar">
        <div class="hote">
            <img src="../assets/img/Vector-opinion.png">
            <div class="logi">
                <img src="../assets/img/hotelia campana.svg" alt="">
                <h1 class="ote">otelia</h1>
            </div>
            <div class="eres">
                <h1>Angie Vargas</h1>
                <h6>angievargas2@gmail.com</h6>
                <img src="../assets/img/Angie.jpg" class="user" style="width: 80%;">
            </div>
        </div>
        <div class="op">
            <i class='bx bxs-hotel'></i>
            <input type="submit" value="Habitaciones">
        </div>
        <div class="op">
            <i class='bx bxs-dish'></i>
            <input type="submit" value="Reservas">
        </div>
        <div class="op">
            <i class='bx bxs-hotel'></i>
            <input type="submit" value="Habitaciones">
        </div>
        <div class="op">
            <i class='bx bxs-dish'></i>
            <input type="submit" value="Habitaciones">
        </div>
        <div class="op1">
            <img src="../assets/img/cerrar_sesion.jpg">
            <input type="submit" value="Cerrar Sesión">
        </div>
    </div>
    <form action="">
        <h1>Registro de nueva habitación</h1>
        <div class="in">
            <div class="pack">
                <label for="">Nombre Habitación</label>
                <input type="text">
            </div>
            <div class="pack1">
                <label for="">Nº habitación</label>
                <input type="text">
            </div>
            <div class="pack2">
                <label for="">Nº cama</label>
                <input type="text">
            </div>
            <div class="pack3">
                <label for="">Nº huéspedes</label>
                <input type="text">
            </div>
            <div class="pack4">
                <label for="">Valor reserva</label>
                <input type="text">
            </div>
            <div class="pack">
                <label for="">Imagen principal</label>
                <input type="text">
            </div>
            <div class="pack5">
                <label for="">Imagen secundaria</label>
                <input type="text">
            </div>
            <div class="pack6">
                <label for="">Descripción</label>
                <input type="text">
            </div>
            <div class="check">
                <div class="checky">
                    <input type="checkbox">
                    <i class='bx bxs-bank'></i>
                </div>
                <div class="checky">                    
                    <input type="checkbox">
                    <i class='bx bx-desktop'></i>
                </div>
                <div class="checky">
                    <input type="checkbox">
                    <i class='bx bx-wifi' ></i>
                </div>
                <div class="checky">
                    <input type="checkbox">
                    <i class='bx bxl-kubernetes'></i>
                </div>
                <div class="checky">
                    <input type="checkbox">
                    <i class='bx bxs-dish'></i>
                </div>
                <div class="checky">
                    <input type="checkbox">
                    <i class='bx bx-dumbbell' ></i>
                </div>
            </div>
        </div>
        <div class="btn">
            <input type="submit" value="Registrar">
        </div>
    </form>
</body>
</html>